@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/** prevents weird styling of font **/
.no-contextual-alternates {
  font-variant-ligatures: none;
  font-feature-settings: "calt" 0;
}

/** prevents user from selecting **/
.no-select {
  user-select: none;
}

@font-face {
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Regular'), url('./fonts/ProductSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Italic'), url('./fonts/ProductSans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Thin Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Thin Regular'), url('./fonts/ProductSans-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Light Regular'), url('./fonts/ProductSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Medium Regular'), url('./fonts/ProductSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Black Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Black Regular'), url('./fonts/ProductSans-Black.woff') format('woff');
}


@font-face {
  font-family: 'Product Sans Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Thin Italic'), url('./fonts/ProductSans-ThinItalic.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Light Italic'), url('./fonts/ProductSans-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Medium Italic'), url('./fonts/ProductSans-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Bold'), url('./fonts/ProductSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Bold Italic'), url('./fonts/ProductSans-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Black Italic'), url('./fonts/ProductSans-BlackItalic.woff') format('woff');
}

html,
body,
#root,
.app {
  height: 100%;
  background-color: #fff;
  color: #000;
}